[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-objc"]
	path = bundle/vim-objc
	url = https://github.com/b4winckler/vim-objc.git
